/* 
    Document   : laboratory
    Created on : Sep 10, 2013, 12:45:16 PM
    Author     : sochy.choeun
    Description:
        Purpose of the stylesheet follows.
*/

#page-content {
    background: #fff;
    margin: 0;
    padding: 0px 20px 24px;
}
.view-modal{
    cursor: pointer;
}

/*#paidBTN input.ace-switch[type="checkbox"] + .lbl:before {
   
    content: "Paid         Not";
    color: #ff3333;
}*/